.itemPanel{
    background-color: white;
    display: flex;
    min-height: 80vh;
    align-items: center;
}
.changeCount{
    display: flex;
}
.imgpart{
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgpart img{
  max-width: 80%;
  max-height: 100%;
}
.detailspart{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.priceTag2{
  background-color: orangered;
  padding: 2px;
  border-radius: 4px;
  color: white;
  width: min-content;
}
.cc{
    width: 40px;
    text-align: center;
}
.ccbtn {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.ccbtn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.ccbtn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.ccbtn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.ccbtn:focus {
  outline: 1px transparent;
}

.ccbtn:before {
  display: none;
}

.ccbtn:-webkit-details-marker {
  display: none;
}

.itempanelcartAddBtn {
  margin-left: 50px;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.itempanelcartAddBtn:hover,
.itempanelcartAddBtn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.itempanelcartAddBtn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.itempanelcartAddBtn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

@media (max-width: 768px){
  .itemPanel{
    flex-direction: column;
    justify-content: center;
  }
}